html {
  font-family: 'Nunito', serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 16px;
  viewport-fit: cover;
  @media (max-width: 1700px) {
    font-size: 12px;
  }
  @media (max-width: 1300px) {
    font-size: 10px;
  }
  @media (max-width: 900px) {
    font-size: 9px;
  }
  @media (max-width: 650px) {
    font-size: 8px;
  }
  @media (max-width: 500px) {
    font-size: 6.5px;
  }
  @media (max-width: 370px) {
    font-size: 5px;
  }
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  // background-color: #ffffffcb;
  background-color: #f4f1de;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: block;
  vertical-align: middle;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

button {
  border-style: none;
  cursor: pointer;
  font: inherit;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
